# Python artifacts
__pycache__/
*.py[cod]
.env
.venv
env/
venv/
.mypy_cache/
cache/
*.sqlite
*.swp
*.pcap
site/

# Node.js dependencies and build outputs
node_modules/
**/node_modules/

# Ignore the npm build output directory for the frontend bundle
emulation/mnet/static/js/dist/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*